    body
    {
        background-color: rgb(42, 42, 42);
        color: white;
    }
    .navtop
    {
        background-color: brown;
        height: 50px;
        
    }

    .navtop ul
    {
    list-style-type: none; /*pra tirar o pontilhado*/
    padding: 2px;/*Pra tirar o espaço vazio deixado pelo pontilhado*/
    display: flex;
    font-size: 25px;
    
        justify-content: center; /*Se colocar na div pura, 
        fica centralizado mas a lista continua vertical, e 
        se colocar na ul, aí sim fica tudo enfileirado*/
    
    }
    .navtop li{
        margin: 10px; /*Pra deixar os elementos da lista separadinhos*/
    }
    
    .navtop a
    {
        color: white; /*Deixa os hyperlinks brancos em vez daquele roxo feio*/
        text-decoration: none;/* Pra tirar o sublinhado feio do hyperlink*/
    }

    .navtop a:hover
    {
        background-color: rgb(115, 20, 37);
    }

    /*Layout*/
    /*Layout*/
    #box1
    {
        display: flex;
        justify-content: center;
        margin: 100px;
        
    }

    #box1 a{

        color: white; /*Deixa os hyperlinks brancos em vez daquele roxo feio*/
        text-decoration: none;/* Pra tirar o sublinhado feio do hyperlink*/
        font-size: 50px;
        

    }
    #box1 a:hover 
    {
        background-color: blue;
    }
    

    /*Layout*/
    /*Layout*/

